.info{
  background: linear-gradient(to bottom, rgba(17,17,17, 0.8) 0%,rgba(17,17,17, 1) 100%);
  padding:150px 0px;
  display:grid;
  /* justify-content: space-evenly; */
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  align-items:center;
  padding: 100px 300px 150px;
  position:relative;
  gap:300px;
  overflow:hidden;
}

.info__title{
  position: absolute;
  top: 20px;
  left: 2%;
  color: white;
  font-weight: 400;
  font-size: 2rem;
}

.info__keyboard{
  color:white;
  display:flex;
  flex-direction:column;
  /* position:relative; */
}


.info__mouse{
  display:flex;
  flex-direction:column;
  color:white;
}

.info__cooler{
  display:flex;
  flex-direction:column;
  color:white;
}

.keyboard__circle{
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  pointer-events:none;
}

.keyboard__circleExpand{
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
}

.mouse__circle{
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  pointer-events:none;
}

.mouse__circleExpand{
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
}

