@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.allMice{
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

.allMice__container{
  flex:1;
  display:flex;
  flex-direction:column;
}

.allMice__top{
  flex:1;
  display:flex;
  height: calc(100vh - 84px);
  overflow:hidden;
}

.allMice__topLeft{
  flex:0.65;
  background:rgb(255, 159, 159);  
  /* background-image:url('../../assets/razerpromo3.jpg');
  background-size:cover;
  background-repeat:no-repeat; */
}

.allMice__topRight{
  flex:0.35;
  padding: 0 50px;
  background:#111;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;
}

.allMice__topRightText h2{
  color:white;
  font-weight:300;
  font-size:2.5rem;
}

.allMice__topRightButton button{
  color:white;
  font-weight:300;
  font-size:1.5rem;
  border:2px solid white;
}

.allMice__topRightButton .MuiButton-root .MuiButton-label{
  text-transform:capitalize;
}

.allMice__bottom{
  background:linear-gradient(to right, #111, #222);
  padding:50px 0;
  overflow-x: hidden;
  position:relative;
}

.allMice__bottomSelection ul{
  display: flex;
  justify-content: center;
  /* gap:30px; */
}

.allMice__bottomSelection ul li{
  position:relative;
}

.allMice__bottomSelection ul li img{
  filter: drop-shadow(-7px 10px 10px rgba(0,0,0,1));
}

.allMice__bottomSelection ul li .underline{
  position:absolute;
  height:5px;
  width:100%;
  bottom:0;
}

.allMice__bottomMouse{
  height:100px;
  width:100px;
  display:flex;
  justify-content: center;
  cursor:pointer;
  padding:30px;
  
}

.allMice__bottomMouse:hover{
  /* background:rgb(255, 159, 159); */
}

.allMice__bottomMouse img{
  object-fit:contain;
  height:100px;
}

.noSelectedMouse h1{
  color:white;
}

.allMice__bottomShowcase{
  position:relative;
  min-height:900px;
  display: flex;
  align-items: center;
}

.allMice__showcaseMouse{
  position:absolute;
  width:100%;
}