.first{
  color:white;
  display:flex;
  justify-content: flex-start;
  position:relative;
  height:100vh;
}

h1{
  z-index:100;
  margin:0 75px;
  background:transparent;
}

.box{
  position:absolute;
  background-color:black;
  height:400px !important;
  width:400px !important;
  right:10px;
  top:10px;
  /* border-radius:40px; */
  z-index:10;
  overflow:hidden;  
}

.clipped{
  position:absolute;
  height:100%;
  width:100%;
  overflow:hidden;
  clip-path:circle(10% at 50% 50%)
}

.clipped img{
  object-fit:cover;
  width:100%;
  
}

.clipped h3{
  position:relative;
  top:500px;
  text-shadow:4px 4px 2px rgba(150, 150, 150, 1);
}

.image__container{
  max-width: 100%;
  position:relative;
}

.image__container img{
  /* clip-path:circle(50%); */
  object-fit:none;
  position:absolute;
}

/* .box img{
  height:100%;
  width:100%;
} */