.second{
  color:white;
  display:flex;
  justify-content: flex-end;
  height:100vh;
}

h1{
  z-index:100;
  
}

.box2{
  position:absolute;
  background-color:black;
  height:43vh;
  width:43vw;
  right:10px;
  top:10px;
  /* border-radius:0px; */
  z-index:10;
  overflow:hidden;
}

.clipped{
  position:absolute;
  height:100%;
  width:100%;
  overflow:hidden;
}

.clipped img{
  object-fit:cover;
  width:100%;

}

.clipped h3{
  position:relative;
  top:500px;
}
/* 
.box2 img{
  max-width:initial;
} */