.dropdownList ul{
  display:flex;
  flex-direction:column;
}

.dropdownList ul li{
  transition:all 0.3s ease;
}

.dropdownList ul li:hover{
  transform:translateX(2px);
  background-color: #01f3f6;
  cursor:pointer;
}