.header{  
  position:sticky;
  top:0;
  background-color:white;
  z-index:999;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.header__container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  position:relative;
}

.header__left{
  display:flex;
  align-items: center;
  padding-left:30px;
  gap:25px;
}

.header__leftMenu{
  display:flex;
  align-items: center;
  cursor:pointer;
  color:#111;
}

.header__left h2{
  font-weight:500;
  cursor:pointer;
  color:#111;
}

.header__center{
  border-right:1px solid rgba(0,0,0,0.1);
}

.header__centerOption{
  display:flex;
  align-items:center;
  border-left:1px solid rgba(0,0,0,0.1);
}

.header__centerOption a{
  padding:30px 40px;
  display:flex;
  gap:5px;
  text-decoration: none;
}

.header__dropdown{
  position:absolute;
  background:white;
  top:100%;
  transform:translateY(5%);
  z-index:998;
  opacity:0;
  width:100%;
  background-color: red;
  left:0;
  transition:all .3s ease;
  pointer-events:none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.header__centerOption:hover .header__dropdown{
  transform:translateY(0%);
  z-index:998;
  opacity:1;
  pointer-events:auto;
}

.header__right{
  display:flex;
  align-items: center
}

.header__rightOption{
  display:flex;
  align-items:center;
  border-left:1px solid rgba(0,0,0,0.1);
  padding:20px 40px;
  gap:5px;
  cursor:pointer;
}

.search{
  display:flex;
  gap:20px;
  position:relative;
}

.search form input{
  padding:5px;
  font-size:1rem;
  min-width: 225px;
}

.search__resultsContainer{
  position: absolute;
  top: 100%;
  left: 0;
  width: fit-content;
  border-radius: 10px;
  overflow:hidden;
  /* padding:10px 0; */
  background:white;
  box-shadow:2px 2px 5px black;
}

.search__resultsContainer ul {
  display:flex;
  flex-direction:column;
  /* border-radius:15px; */
  /* gap:10px; */
  padding:10px 0;
}

.search__resultsContainer ul a{
  text-decoration:none;
}

.search__resultsContainer ul li{
  list-style-type: none;
  color:#111;
  display:flex;
  gap:30px;
  /* background: rgb(255, 136, 136); */
  padding:5px 30px;
}

.result__info h3{
  font-size:.85rem;
}

.search__resultsContainer ul .result__img img{
  object-fit:contain;
  height:80px;
  width:80px;
}

.cart__count{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:.7rem;
  background-color:#111;
  color:white;
  width:10px;
  height:10px;
  padding:4px;
  border-radius:10px;
  transform:translateY(1px)
}