.banner{
  display:flex;
  height:calc(100vh - 85px);
  overflow:hidden;
}

.banner__left{
  flex:0.2;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  gap:20px;
}

.banner__tagline {
  font-size:2.5rem;
  text-align:center;
  line-height:1.2;
  padding:50px;
}

.banner__subtitle{
  font-size:1.5rem;
  font-style:italic;
}

.banner__right{
  flex:0.8;
  height:100%;
  position:relative;
  overflow:hidden;
}

.banner__right img{
  object-fit:cover;
  width:109%;
  height:100%;
}

.banner__right p {
  position:absolute;
  bottom:50px;
  color:white;
  right:50px;
  font-style:italic;
  opacity: 0.7;
}

.slick-slider{
  height:100%;
}

.slick-list{
  height:100%;
}

.slick-slide{
  pointer-events:none;
  visibility: hidden;
  /* width:100vw; */
}

.slick-slide div{
  width:100%;
}

.slick-slide.slick-active.slick-current{
  pointer-events:auto;
  visibility: visible;
  /* width:100%; */
}

.banner__carousel1{
  height:100%;
}

.banner__carousel2{
  height:100%;
}

.banner__carousel3{
  height:100%;
}

.banner__carousel4{
  height:100%;
}